@media (prefers-color-scheme: dark) {
    .text-404{
        color:blueviolet;
    }
    .home-text{
        color:
    }
}
@media (prefers-color-scheme: light) {
    .text-404{
        color:red;
    }
}